{% extends "../sub_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Reset Confirm{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="login-form" method="post">
    
    <h1 class="h3 mb-4 font-weight-bold">Change your password</h1>
    <p>Use the form below to change your password.</p>

    {% csrf_token %}
    {{ form|crispy }}
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <button class="btn btn-primary btn-block py-2 my-2" type="submit" value="Change">Submit
    </button>
</form>

{% endblock %}